.banner__ctn {
  width: 100%;
  position: relative;
  height: 100%;
}

.banner__inner {
  width: 90%;
  background-color: #f2f2f2;
  padding: 3em;
  border-radius: 15px;
  margin: 0 auto;
}

.beats__solo {
  font-size: 20px;
  color: #5f5f5f;
}

.banner__link {
  border-radius: 15px;
  padding: 0.6em 1em;
  background-color: #f02d34;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.mid__text {
  font-size: 4rem;
  margin-top: 4px;
}

.banner__inner h1 {
  color: white;
  font-size: 10em;
  text-transform: uppercase;
  text-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
}

.banner__img {
  position: absolute;
  top: 0%;
  right: 20%;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.contents {
  display: flex;
  align-items: center;
}

.description {
  margin-top: auto;
  margin-left: auto;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #324d67;
}

.description p {
  color: #5f5f5f;
  font-weight: 100;
  text-align: end;
}
.description h5 {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}

@media screen and (max-width: 800px) {
  .banner__ctn {
    height: 560px;
  }

  .banner__inner {
    padding: 2em;
  }

  .banner__img {
    width: 60%;
    height: 40%;
    top: 10%;
    right: 0%;
  }

  .contents {
    margin-top: 5.2em;
  }

  .banner__inner h1 {
    font-size: 50px;
  }

  .banner__inner h3 {
    font-size: 40px;
    padding-right: 2em;
  }

  .banner__link {
    font-size: 0.9em;
    padding: 1em ;
    width: 100%;
  }

  .mid__text {
    font-size: 2rem;
  }

  .beats__solo {
    font-size: 1em;
  }

  .description {
    width: 100%;
    margin-left: 2em;
  }

  .description p {
    font-weight: 100;
    font-size: 0.6em;
  }
}
