.cart__wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  transition: all 1s ease-in-out;
}

.cart__ctn {
  min-height: 100vh;
  width: 40%;
  background-color: white;
  margin-left: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.cart__close {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  border: none;
  background-color: transparent;
  margin-top: 1.5em;
}

.cart__close .heading {
  margin-left: 0.4em;
}

.cart__num__items {
  margin-left: 10px;
  color: #f02d34;
}

.cart__empty {
  margin: 40px;
  text-align: center;
}

.cart__empty h3 {
  font-weight: 600;
  font-size: 20px;
}

.quantity__desc {
  border: 1px solid gray;
  padding: 6px;
}

.quantity__desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

.quantity__desc .minus {
  border-right: 1px solid gray;
  color: #f02d34;
  margin: 0;
}

.quantity__desc .num {
  border-right: 1px solid gray;
  font-size: 20px;
}

.quantity__desc .plus {
  color: rgb(49, 168, 49);
}

.btn__ctn {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.cart__empty__btn,
.checkout__btn {
  margin: 0.5em auto;
  padding: 1em 2em;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  text-transform: uppercase;
  background-color: #f02d34;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.cart__empty__btn:hover,
.checkout__btn:hover {
  transform: scale(1.1, 1.1);
}

.product__ctn {
  margin-top: 0.4em;
  max-height: 70vh;
  margin: 1em auto;
  width: 100%;
}

.product__ctn::-webkit-scrollbar {
  width: 10px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  margin: 1em 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.product .product__img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background-color: #ebebeb;
  object-fit: cover;
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #324d67;
  margin: 1em 0;
}

/* .bottom {
  margin-top: 60px;
} */

.top h5,
.bottom h5 {
  font-size: 1.3em;
}

.top h4,
.bottom h4 {
  font-size: 20px;
}

.delete__btn {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.total {
  display: flex;
  justify-content: space-between;
}

.total h3 {
  font-size: 22px;
}

.checkout__ctn {
  margin-top: auto;
}

@media screen and (max-width: 800px) {
  .cart__wrapper {
    width: 100%;
  }

  .cart__ctn {
    width: 100%;
    padding: 1em;
  }

  .product__ctn {
    margin-top: 10px;
  }

  .product .product__img {
    width: 25%;
    height: 25%;
  }

  .bottom {
    margin-top: 1.2em;
  }

  .top h4,
  .bottom h4 {
    font-size: 16px;
    color: #324d67;
  }

  .top h4,
  .bottom h4 {
    font-size: 16px;
    color: black;
  }

  .total h3 {
    font-size: 20px;
  }
}