.footer__banner__ctn {
  padding: 80px 0;
  background-color: #f02d34;
  border-radius: 15px;
  position: relative;
  height: 100%;
  color: white;
  width: 100%;
  margin-top: 120px;
}

.banner__desc {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.banner__desc button {
  border-radius: 15px;
  padding: 0.6em 1em;
  background-color: #f5f5f5;
  color: red;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.rhs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: left;
}

.banner__desc .lhs h3 {
  font-weight: 700;
  font-size: 80px;
}

.banner__desc .lhs p {
  margin: 18px;
}

.footer__banner__img {
  position: absolute;
  top: -25%;
  left: 25%;
}

.banner__desc .rhs h3 {
  font-weight: 800;
  font-size: 60px;
}

.banner__desc .rhs p {
  font-size: 1.4em;
}

@media screen and (max-width: 800px) {
  .footer__banner__ctn {
    height: 100%;
    margin-top: 80px;
  }

  .footer__banner__img {
    width: 80%;
    left: 30%;
    top: 10%;
    height: 56%;
    object-fit: contain;
  }

  .banner__desc .lhs h3 {
    font-weight: 900;
    font-size: 4em;
    margin-left: 5px;
  }

  .banner__desc .rhs h3 {
    font-size: 3em;
    line-height: 1.2;
  }

  .banner__desc .rhs p {
    font-size: 1.2em;
  }

  .banner__desc {
    flex-wrap: wrap;
    gap: 10px;
  }
}
