@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
html,
body {
  font-family: "Raleway", sans-serif;
    /* a very nice dark color */
    background: #1e1e1e;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

span.text-red {
  -webkit-text-stroke: 1px #f02d34;
  margin-left: 6px;
}

.cancel {
  cursor: pointer;
}

.max__qty {
  font-weight: 500;
  color: #f02d34;
}

.product-max-qty {
  margin-top: 10px;
}